.home-popover{
  width: 200px;
  .title{
    line-height: 30px;
    border-bottom: 1px solid #f8f8f8;
  }
  .ant-btn-group {
    width: 100%;
  }
  .anticon{
    margin-top: 7px
  }
}
.float-left{
  float: left
}
.float-right{
  float: right
}
