.setting-page{
  padding:10px 30px;
  
}
.setting-user {
  &-role{
   width: 30%;
   min-width: 300px;
   height: 800px;
   border: 1px solid #e8e8e8;
   .role_selected{
     background-color: #f0f0f0;
   }
   .role{
     line-height: 50px;
     //background-color: #f0f0f0;
     text-align: center;
     position: relative;
     border-bottom: 1px solid #e8e8e8;
     font-size: 14px;
     
     .anticon{
       font-size: 18px;
       margin-left: 10px;
       color: #999;
       cursor: pointer;
     }
     .abosulte{
        position: absolute;
        height: 50px;
        right: 13px;
        top: 0;
     }
     .action{
       margin: 0 30px 0 10px;
     }
   }
   .title{
    background-color: #dbdbdb;
    line-height: 40px;
  }
  
  }
}
.createRoleModal{
  .title{
    width:20%;
    text-align: center;
    display: inline-block
  }
  .input{
   width:70%;
   
  }
}
.peopleEditModal{
  .ant-input-suffix{
    right: 0
  }
}

.setting-area{
  .action{
    float: right;
    a{
      margin-left: 20px;
      color: #999;
    }
  }
}
.setting-video{
  .ant-table-wrapper td{text-align: center}
  .video-action{
      a{
        margin: 0 10px;
      }
  }
  .abosulte1{
    position: absolute;
    right: 0;
    top:0;
    >i{
      font-size: 15px;
      padding:15px 10px 10px 10px;
      cursor: pointer;
    }
  }
  .setting-video-device{
    .ant-collapse-item.ant-collapse-item-active{
      position: relative
    }
    .ant-table-small{
      border:none
    }
    .icon_start{
      position: absolute;
      left: 20px;
      top: 10px;
    }
  }
  .btn-group{
    margin: 10px 30px;
    >button{
      margin-right: 15px;
    }
  }
}
.areaTodeviceModal{
  .ant-tree >li{
    width: 50%;
    float: left;
  }
}

// 上传地图
.setting-map{
  min-height: 500px;
  position: relative;
  .ant-tag{
    border:none;
    background-color: transparent;
  }
  .ant-collapse{
    background-color: transparent;
    border:none;
    .ant-collapse-content{
      background-color: transparent;
      border:none
    }
   .ant-collapse-item{
     border: none;
   }
  }
  .spin-pos{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .map-area{
    width: 200px;
    position: absolute;
    left: 15px;
    z-index: 1
  }
  .device-area{
    width: 200px;
    position: absolute;
    right: 15px;
    z-index: 1
  }
  
}

