.board-wrap {
    overflow: hidden;
    background-color: #fff;
    border: 1px dashed #006f6b;
    color: #006f6b;
    padding: 10px;
    .title {
        text-indent: 10px;
    }
    .content {
        border: 1px solid #d8d8d8;
    }
}