.peo-trail{
  position: absolute;
  top:0;
  right: 0;
  z-index:0;
  overflow: auto;
  transition: left 0.2s
}
.canvas{
  position: absolute;
  left: 0;
  top:0;
}
.tipPeo{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #17b89f;
  border: 2px solid #fff;
  position: absolute;
  &.active{
    border: 2px solid red;
  }
}
.activeTrail{
  position: absolute;
  z-index:0;
  i{
    color: #17b89f;
  }
}