.usercenter{
  padding: 20px 40px;
  .title_com{
    line-height: 50px;
    background-color: #f5f5f5;
  }
  .left_icon{
    display: inline-block;
    height: 16px;
    width: 3px;
    background-color: #006f6b;
    vertical-align: middle;
    margin-left: 30px;
  }
  .title_text{
    margin-left: 10px;
    vertical-align: middle;
  }
  .path_com{
    line-height: 60px;
  }
  .path_label{
    margin-left: 30px;
  }
  .path_text{
    margin-left: 10px;
    color: #ccc;
  }
  .ant-form{
    max-width: 550px;
    margin-top: 30px;
  }
}