.submeun{
  position: absolute;
  top: 69px;
  left: 60px;
  bottom: 0;
  background-color:#f6f6f6;
  transition: width .2s;
  z-index:9;
  text-align: center;
  -ms-scroll-chaining: chained;
  -ms-overflow-style: none;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
  -ms-overflow-style: none;
  .fix-bottom{
    position: absolute;
    bottom: 0;
    width: 300px;
    line-height: 30px;
    border-top: 1px solid #ccc;
    text-align: left;
    display: flex;
    >span{
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .bro-search-item{
    text-align: left;
    line-height: 40px;
  }
  .siderbar-wrap{
    padding: 30px 10px;
    height: 100%;
    overflow: auto;
    &.active{
      display: none;
    }
  }
  .title{
    margin-bottom: 20px;
    line-height: 30px;
    >span{
      font-size:16px;
    }
    i{
      margin-top: -3px;
      font-size: 18px;
    }
  }
  .collapse{
    margin-top: 20px;
  }
  .peo-item{
    position: relative;
    padding: 10px 20px;
    text-align: left;
    background-color: #fff;
    border:2px solid #fff;
    margin-top: 2px;
    &.itemActive{
      background-color: #e6e9ee;
      box-shadow: 2px 2px 3px rgba(0, 0,0, .3);
    }
  }
  
  .lable-item{
    margin-top: 20px;
  }
  .trail-page{
    height: 70%;
    overflow: auto;
    border-top: 1px solid #e8e8e8;
    text-align: left;
    .trail-item{
      margin-left: 15px;
      background-color: #fff;
      padding:10px;
      border-radius: 2px;
      &.active{
        box-shadow: 2px 2px 3px rgba(0, 0,0, .3);
      }
    }
  }
}