.home-search{
  position: absolute;
  left: 300px;
  z-index: 9;
  .home-search-btn{
    background-color: #fff;
  }
  .ant-select-selection{
    border: none
  }
 .ant-input{
   border-color: transparent
 }
 .search{
   display: inline-block;
   width: 32px;
   height: 100%;
   background-color: #17b89f;
   text-align: center;
   line-height: 34px;
 }
 .home-search-result{
   margin-top: 10px;
   width: 100%;
   background-color: #fff;
 }
}