.home-page{
  position: relative;
  width: 100%;
  .icon-wrapper {
    position: absolute;
    padding: 0px 30px;
    width: 200px;
    bottom: 10px;
    left: 10px;
  }
  
  .icon-wrapper .anticon {
    position: absolute;
    top: -3px;
    width: 16px;
    height: 16px;
    line-height: 2.3;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  
  .icon-wrapper .anticon:first-child {
    left: 0;
  }
  
  .icon-wrapper .anticon:last-child {
    right: 0;
  }
  
  .anticon.anticon-highlight {
    color: #666;
  }
  .map-area{
    position: static!important;
    float: left;
  }
  .home-warm-panel{
    position: absolute;
    right: 15px;
    z-index: 1;
    .ant-collapse-header{
      padding: 9px 0 9px 40px;
      background-color: #fff; 
    }
    .ant-collapse .ant-collapse-content{
      background-color: rgba($color: #000000, $alpha: .2);
    }
    .panel-title{
      background-color: #fff;
      height: 40px;
      padding: 10px;
      >div{
        margin-left: 15px;
        img{
          margin-right: 10px;
        }
      }
    }
    .panel-content{
      background-color: rgba($color: #000000, $alpha: .2);
      padding: 20px;
      .warm-lights{
        img{
          animation:light-spalsh 2s infinite;
        }
        img+img{
          margin-left: 35px;
        }
      }
      p{
        color: #fff;
        margin: 10px;
      }
    }
  }
  #img{
    transition: width .5s;
  }
}
.HomeTable{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@keyframes light-spalsh{
  0%{
    opacity: 0
  }
  50%{
    opacity: 1
  }
  100%{
    opacity: 0
  }
}
