
html {
  width: 100%;
  height: 100%;
}
body{
  height: auto!important;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root{
  width: 100%;
  height: 100%;
}

.ant-layout{
  min-height: calc(100% - 60px);
  //margin-left: 80px;
}

.float-left{
  float: left
}
.float-right{
  float: right
}
.anticon{
  vertical-align: middle!important;
}
textarea{
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
// modal
.ant-modal-header{
  padding: 10px 24px!important
}
.ant-modal-close-x{
  width: 40px!important;
  height: 40px!important;
  line-height: 40px!important;
}
.ant-form.ant-form-inline{
  .ant-row.ant-form-item{
    width: 100%;
    .ant-form-item-label{
      width:20%;
    }
    .ant-form-item-control-wrapper{
      width:75%;
    }
  }
}
.ant-modal-footer{
  padding: 4px 16px!important
}

// file
.fileinput-button {
  background-color: #006f6b;
  color: #fff;
  padding: 6px 10px 5px;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  input{
  position:absolute;
  right: 0px;
  top:0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  
 }
}

// tree 
.ant-table-content{
  .ant-table-tbody > tr > td, .ant-table-thead > tr > th{
    text-align: left!important
  }  
}

.type-icon{
  width: 20px;
  height: 24px;
  margin-right: 10px;
}

// yuntai
.yuntai{
  padding: 10px;
  .outround{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #17b89f;
    margin: 10px auto;
    position: relative;
  }
  .inround{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(50%)
  }
  .btn{
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    i{
      color: #fff;
      font-size: 20px;
    }
    &:active{
      background-color: #006f6b;
    }
  }
  .count-ctrl{
    text-align: center;
    .jujiao-btn{
      display: inline-block;
      margin-top: 20px;
      margin-left: 15px;
      cursor: pointer;
      width: 110px;
      line-height: 40px;
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      i{
        vertical-align: middle;
        font-size: 18px;
        color: #ccc;
      }
    }
  }
}
// yuzhiwei
 .yuntai{
      padding: 10px;
      .outround{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #17b89f;
        margin: 10px auto;
        position: relative;
      }
      .inround{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
        transform: translateY(50%)
      }
      .btn{
        position: absolute;
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
        i{
          color: #fff;
          font-size: 20px;
        }
        &:active{
          background-color: #006f6b;
        }
      }
      .count-ctrl{
        text-align: center;
        .jujiao-btn{
          display: inline-block;
          margin-top: 20px;
          margin-left: 15px;
          cursor: pointer;
          width: 80px;
          line-height: 40px;
          border: 1px solid #e8e8e8;
          border-radius: 2px;
          i{
            vertical-align: middle;
            font-size: 18px;
            color: #ccc;
          }
        }
      }
    }
    // yuzhiwei
    .yuzhiwei {
      height: 350px;
      .add-group{
        width: 90%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 30px;
        border-bottom: 1px solid #e8e8e8;
      }
      .ant-collapse-item{
        position: relative;
        .ant-collapse-header{
          padding-right: 100px;
        }
      }
      .abosulte1{
        position: absolute;
        right: 0;
        top:0;
        background-color: #fff;
        >i{
          font-size: 15px;
          padding:15px 10px 10px 10px;
        }
      }
      i{margin-right: 10px;font-size: 16px}
    }

    .history_center{
      display: flex;
      justify-content: center
    }


.ctrl-bnts{
  margin-top: 0px;
  transition: all 1s;
  display: flex;
  align-items: center;
  .btn{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 2px;
  }
  >span{
    margin-left: 10px;
  }
  ._slide{
    flex: 1;
    margin-left: 20px;
    background-color: #808080;
    border-radius: 2px;
    margin-top: 7px;
  }
  .v-stop{
    background: url('assets/imgs/v-stop-on.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-start{
    background: url('assets/imgs/v-start-on.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-pre{
    background: url('assets/imgs/v-pre.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-pre:active{
    background: url('assets/imgs/v-pre-on.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-back{
    background: url('assets/imgs/v-back.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-back:active{
    background: url('assets/imgs/v-back-on.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-fb{
    background: url('assets/imgs/v-fb.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-fb:active{
    background: url('assets/imgs/v-fb-on.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-ff{
    background: url('assets/imgs/v-ff.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-ff:active{
    background: url('assets/imgs/v-ff-on.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-next{
    background: url('assets/imgs/v-next.png') no-repeat;
    background-size: 100% 100%;
  }
  .v-next:active{
    background: url('assets/imgs/v-next-on.png') no-repeat;
    background-size: 100% 100%;
  }
}
.user-select{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: rgba(0, 0, 0,0.5);
  padding: 5px;
  border-radius: 2px;
  .ant-tag-text{
    color: #fff;
  }
  .ant-tag{
    background-color: transparent;
    border: none
  }
}